# OpenWrt build artifacts
/bin/
/build_dir/
/dl/
/logs/
/staging_dir/
/tmp/
/.config
/.config.old
/feeds/

# Go build artifacts
/tollgate-wrt
/src/cmd/tollgate-cli/tollgate

# GitHub Actions artifacts
/artifacts/
/event.json
/event.err
/matrix.json
