# OpenWRT build artifacts
/build_dir/
/bin/
/staging_dir/
/logs/
/tmp/
*.ipk

# Go build artifacts
tollgate-wrt
src/cmd/tollgate-cli/tollgate

# CI temporary files
artifacts/
event.json
event.err
matrix.json

# OS / Editor specific
.DS_Store
*.swo
*.swp
*.swn
